<div
  class="collection-grid">
  <div
    class="text-content">
    <h3
      class="title">
      {{ section.settings.title }}
    </h3>
    <p
      class="info">
      {{ section.settings.info }}
    </p>
    <div
      class="text">
      {{ section.settings.description }}
    </div>
  </div>
  <div
    class="grid">
    {% if section.settings.image %}
      <img
        srcset="{%- if section.settings.image.width >= 375 -%}
        {{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
      {%- if section.settings.image.width >= 750 -%}
        {{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
      {%- if section.settings.image.width >= 1100 -%}
        {{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
      {%- if section.settings.image.width >= 1500 -%}
        {{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
      {%- if section.settings.image.width >= 1780 -%}
        {{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
      {%- if section.settings.image.width >= 2000 -%}
        {{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
      {%- if section.settings.image.width >= 3840 -%}
        {{ section.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
      {%- if section.settings.image.width >= 3000 -%}
        {{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
      {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
      sizes="100vw"
      src="{{ section.settings.image | image_url: width: 1500 }}"
      loading="lazy"
      alt="{{ section.settings.image.alt | escape }}"
      width="{{ section.settings.image.width }}"
      height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}">
    {%- else -%}
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Collection Grid",
    "tag": "section",
    "class": "collection-grid",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "KIZZO x COMPASS "
      }, {
        "type": "text",
        "id": "info",
        "label": "Info",
        "default": "Bracelet that Inspires Creativity of a Grammy Award Winner!"
      }, {
        "type": "textarea",
        "id": "description",
        "label": "Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Upload Image"
      }
    ]
  }
{% endschema %}